
@media (prefers-color-scheme: light) {
    h1 {
        color: beige;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.linebreakTop {
    border: none;
    border-top: 2px solid black; /* Adjust the thickness and color as needed */
}


@media (prefers-color-scheme: dark) {
	h1 {
        font-weight: bold;
		color: rgb(14, 7, 7); /* Blue color in dark mode */
        margin-top: 10px !important;
        margin-bottom: 5px !important;
    }
	h2 {
        font-weight: bold;
		color: rgb(14, 7, 7); /* Blue color in dark mode */
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    ul {
        margin-top: 5px;
    }
    hr {
        border: 1px solid black; /* White horizontal line in dark mode */
    }
    /* Thick black border */
    hr.linebreak {
        border: 1px solid black;
        border-top: 1px solid black;
        border-bottom: none;
        border-right: none;
        border-left: none;
        margin: 10px 0;
        max-width: 100%;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    hr.linebreakTop {
        /*border: 1px solid rgb(40, 38, 38);*/
        border-top: 1px solid rgb(52, 49, 49);
        border-bottom: none;
        border-right: none;
        border-left: none;
        margin: 10px 0;
        max-width: 100%;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    span.contact-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 7px;
        align-items: center;
        margin-top: 7px;
        /* Adjust this value as needed */
        color: #1a1919;
        font-size: 14px; /* Reduce the font size */
        font
    }
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    span.contact-info {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: flex-start;
    }

    span.contact-info a {
        margin-bottom: 5px; /* Add space between links */
    }
}

.youtube {
    color: #311e1e;
}
.github {
    color: #EE0F0F;
}